/* BEGIN Bold Italic */
@font-face {
  font-family: 'OpenSans-BoldItalic';
  @include fontdef($OpenSansPath, $OpenSansVersion, "BoldItalic");
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */
