/* BEGIN Light Italic */
@font-face {
  font-family: 'OpenSans-LightItalic';
  @include fontdef($OpenSansPath, $OpenSansVersion, "LightItalic");
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */
